name: Docker CI
on:
  push:
    branches:
      [main] 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t devopst .

      - name: Run Docker Container
        run: |
          docker run -d -p 80:80 devopst

      - name: Check running containers
        run: docker ps
